@inject NavigationManager Nav
<nav class="nav">
  <div class="nav-inner container">
    <a class="brand" href="/"><span class="dot"></span> KAIO RIBEIRO <span class="tag">Segurança do Trabalho</span></a>
    <div class="menu">
      <NavLink href="/" class="nav-link" activeClass="active" Match="NavLinkMatch.All">Início</NavLink>
      <NavLink href="/servicos" class="nav-link" activeClass="active">Serviços</NavLink>
      <NavLink href="/treinamentos" class="nav-link" activeClass="active">Treinamentos</NavLink>
      <NavLink href="/laudos" class="nav-link" activeClass="active">Laudos</NavLink>   
      <NavLink href="/apostilas" class="nav-link" activeClass="active">Apostilas</NavLink>   
      <NavLink href="/sobre" class="nav-link" activeClass="active">Sobre</NavLink>
      <NavLink href="/contato" class="nav-link" activeClass="active">Contato</NavLink>
    </div>
  </div>
</nav>